* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  transition: all ease-in-out .3s;
}

:root {
  --color-primary: #fff;
  --color-secondary: #222;
  --color-contrast-primary: #FF5678;
  --color-contrast-secondary: #35e6e9;
  --border-button: 2px solid #C0EBF4;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

a {
  cursor: pointer;
}

span {
  color: var(--color-contrast-primary);
}

i.bx {
  font-size: 3rem;
  cursor: pointer;
}

i.bx-chevron-left:hover {
  background: #FF567816;
  border-radius: 50%;
}

i.bx.bxs-plus-circle {
  color: var(--color-contrast-primary);
  position: absolute;
  right: -9%;
  top: 45%;
  font-size: 2.2rem;
}
