body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 5%;
}

#content-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 40%;
}

.image-home {
  width: 95%;
  min-width: 20rem;
}

#content-main-register {
  width: 40%;
}

section {
  padding: 10%;
  border: 1px solid var(--color-secondary);
  border-radius: 12px;
  display: none;
  flex-direction: column;
  gap: 3rem;
}

section.active {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

button {
  width: 100%;
  padding: 1rem;
  border: var(--border-button);
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 1px 2px 5px 1px #b2b2b2;
}

button:active {
  box-shadow: none;
}

section button.form-button:first-of-type  {
  background: var(--color-contrast-secondary);
}

section button.form-button:first-of-type:hover  {
  background: #35ddde;
}

section button.form-button:not(:first-of-type) {
  background: var(--color-contrast-primary);
}

section button.form-button:not(:first-of-type):hover {
  background: #ea4c6d;
}

.question-new-entity {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.question-new-entity a {
  color: var(--color-secondary);
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label:last-of-type {
  margin-bottom: 3rem;
  position: relative;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1.15rem;
}

input, select {
  padding: .95rem;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  margin-top: .3rem;
  outline: none;
}

select {
  appearance: none; /* Remove a setinha padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #888;
  background-color: #fff; /* Cor de fundo */
  cursor: pointer; /* Cursor pointer */
  background-image: url('../img/chevron-down.svg');
  background-position: right .5rem top 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

a.link:hover {
  color: var(--color-contrast-primary);
}

.question-new-activity {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.question-new-activity a {
  color: var(--color-contrast-primary);
  font-size: 1.3rem;
  font-weight: 400;
}
